---
import { Smartphone } from "lucide-react";
import { Button } from "@/components/ui/button";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  id="cta"
  class="relative isolate overflow-hidden bg-[#121217] my-48 rounded-lg sm:mx-8 mx-6"
>
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-4xl font-bold tracking-tight text-white sm:text-4xl"
        set:html={t("services.cta.title")}
      />
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-300">
        <span
          class="font-semibold sm:text-justify"
          set:html={t("services.cta.subtitle")}
        />
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href={`https://api.whatsapp.com/send?phone=${
            import.meta.env.WHATSAPP_NUMBER
          }&text=${encodeURIComponent(t("services.cta.whatsappMessage"))}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Button variant={"gradient"} size={"lg"}>
            <Smartphone className="w-6 h-6 mr-2" />
            {t("services.cta.button")}
          </Button>
        </a>
      </div>
    </div>
    <img
      class="absolute sm:-left-44 -left-32 -top-0 -z-10 sm:w-[16rem] w-[10rem] translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
      aria-hidden="true"
      width="384"
      height="512"
      src="/assets/grid.svg"
    />
    <img
      class="absolute left-full -bottom-20 -z-10 sm:w-[16rem] w-[10rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
      aria-hidden="true"
      width="384"
      height="512"
      src="/assets/grid.svg"
    />
  </div>
</div>
