---
import Header from "@/components/ui/header.astro";
import Card from "@/components/ui/card.astro";

import { Button } from "@/components/ui/button";
import { Figma } from "lucide-react";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto max-w-7xl px-6 text-center lg:px-8 my-48" id="services">
  <Header
    subtitle={`${t("services.section.subtitle")}`}
    title={`${t("services.section.title")}`}
  />
  <ul
    role="list"
    class="mx-auto my-16 grid max-w-2xl grid-cols-1 gap-6 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8"
  >
    <Card
      title={`${t("services.section.first.card.title")}`}
      description={`${t("services.section.first.card.description")}`}
    />
    <Card
      title={`${t("services.section.second.card.title")}`}
      description={`${t("services.section.second.card.description")}`}
    />
    <Card
      title={`${t("services.section.third.card.title")}`}
      description={`${t("services.section.third.card.description")}`}
    />
  </ul>
  <a href="#pricing-plans" class="w-full sm:w-auto">
    <Button variant={"gradient"} size={"lg"} className="w-full sm:w-auto">
      <Figma className="w-6 h-6 mr-2" />
      {t("services.cta")}
    </Button>
  </a>
</div>
