---
import Layout from "@/layouts/Layout.astro";
import Container from "@/layouts/Container.astro";

/* Sections */
import Hero from "@/components/home/Hero.astro";
import Services from "@/components/home/Services.astro";
import About from "@/components/home/About.astro";
import Testimonials from "@/components/home/Testimonials.astro";
import Pricings from "@/components/home/Pricings.astro";
import CTA from "@/components/home/CTA.astro";

import Footer from "@/layouts/Footer.astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<style>
  .section {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<Layout>
  <div class="section">
    <Hero />
    <Container>
      <Services />
      <About />
      <Testimonials />
      <Pricings />
      <CTA />
      <Footer />
    </Container>
  </div>
</Layout>
