---
/* Layout */
import Navbar from "@/layouts/Navbar";
import Layout from "@/layouts/Layout.astro";
import Container from "@/layouts/Container.astro";
import Footer from "@/layouts/Footer.astro";
---

<Layout>
  <div class="section">
    <Container>
      <Navbar client:load />
      <div class="relative w-full aspect-w-16 aspect-h-9">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.2.5/build/spline-viewer.js"></script>
        <spline-viewer url="https://prod.spline.design/ShAbGrvlZcUT1DrH/scene.splinecode" class="absolute inset-0 w-full h-full"></spline-viewer>
      </div>
      <Footer />
    </Container>  
  </div>
</Layout>

<style>
  .section {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  import ScrollReveal from "scrollreveal";

  const sr = ScrollReveal();

  sr.reveal(".section", {
    origin: "top",
    distance: "50px",
    duration: 2000,
    delay: 300,
    reset: false
  });

  const sections = ["#services", "#about", "#testimonials", "#pricings", "#cta", "#footer"];

  sections.forEach(section => {
    sr.reveal(section, {
      origin: "top",
      distance: "50px",
      duration: 2000,
      delay: 300,
      reset: false
    });
  });
</script>
