---
import Spacing from "@/layouts/Spacing.astro";
import { Asterisk } from "lucide-react";
---

<Spacing>
  <div class="relative isolate -z-10 mt-32 sm:mt-40">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="mx-auto flex max-w-2xl flex-col gap-16 px-6 py-16 sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20"
      >
        <img
          class="h-96 sm:w-full flex-none rounded-2xl object-contain shadow-xl lg:aspect-1 lg:h-auto lg:max-w-sm"
          src="/assets/me.webp"
          width="384"
          height="384"
          alt="Bruno Scarpari's photo"
        />
        <div class="w-full flex-auto">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
            Um pouco sobre mim...
          </h2>
          <p class="mt-6 text-sm leading-6 text-justify">
            Meu nome é Bruno Scarpari, sou de Gravataí - RS. Minha jornada na
            área começou em 2019 quando iniciei meu curso técnico em Informática
            para Internet. Neste curso, tive a oportunidade aprofundar meus
            conhecimentos em desenvolvimento web.
          </p>
          <p class="mt-6 text-sm leading-6 text-justify">
            No entanto, sempre tive um grande interesse em Design e, por isso,
            dediquei parte do meu tempo livre para desenvolver habilidades em
            prototipação, wireframes, identidade visual, logos e design de
            interfaces.
          </p>
          <div class="mt-6">
            <h2
              class="text-primary-foreground leading-8 font-semibold text-lg mb-2"
            >
              Competências
            </h2>
            <ul role="list" class="flex flex-col space-y-2">
              <li class="flex gap-x-3">
                <Asterisk className="h-6 w-6" />
                <span>4 anos de experiência em desenvolvimento web</span>
              </li>
              <li class="flex gap-x-3">
                <Asterisk className="h-6 w-6" />
                <span>4 anos desenvolvendo artes digitais como freelancer</span>
              </li>
              <li class="flex gap-x-3">
                <Asterisk className="h-6 w-6" />
                <span>1 ano atuando como Product Designer na ayos.dev</span>
              </li>
              <li class="flex gap-x-3">
                <Asterisk className="h-6 w-6" />
                <span>+20 projetos desenvolvidos</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Spacing>
