---
import { Button } from "@/components/ui/button";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main class="lg:relative max-w-7xl md:h-auto sm:h-screen" id="hero">
  <div
    class="mx-auto max-w-7xl w-full pt-8 pb-20 text-center lg:py-48 lg:text-left sm:pt-24"
  >
    <div class="mx-4 lg:w-1/2 sm:mx-8 xl:pr-16">
      <h1
        class="text-4xl tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl lg:text-5xl xl:text-5xl"
      >
        <span class="block xl:inline">
          {t("hero.title")}
        </span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-lg sm:text-xl md:mt-5 md:max-w-3xl">
        {t("hero.subtitle")}
      </p>
      <div class="mt-4 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
          <a href={`${String(Astro.url).slice(0, -1)}/services`}>
            <Button variant={"outline"}>
              {t("hero.cta")}
            </Button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative w-full h-72 sm:h-96 md:h-full lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full mb-16"
  >
    <div
      class="w-full md:h-full sm:h-auto h-full object-cover relative"
      id="spline-section"
    >
      <script is:inline src="/assets/spline-viewer.js" type="module"></script>
      <spline-viewer
        url="https://prod.spline.design/PdH604qI-khs9NyQ/scene.splinecode"
        class="block w-full h-full pointer-events-none sm:pointer-events-auto"
        id="spline-obj"
      >
      </spline-viewer>
    </div>
  </div>
</main>
