---
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/components/seo/HeadTags";

import "@fontsource-variable/space-grotesk";
import "@/styles/global.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <SEOTags {...headTags} />
  <body
    class="flex w-full min-h-screen flex-col bg-gradient-to-t bg-neutral-950 to-neutral-800 text-sm text-neutral-400 transition-all ease-in-out"
  >
    <slot />
    <style is:global>
      body {
        font-family: "Space Grotesk Variable", sans-serif;
      }
    </style>
  </body>
</html>
