---
const { title, description } = Astro.props;
---

<li
  class="rounded-lg bg-[#121217] px-6 py-10 flex-1 transform transition-transform duration-300 hover:-translate-y-2"
>
  <img
    class="mx-auto h-8 w-8 rounded-full"
    src="/icons/check.svg"
    width="32"
    height="32"
    alt="Check icon"
  />
  <h3
    class="text-2xl mt-6 font-semibold leading-7 tracking-tight text-white mb-3"
  >
    {title}
  </h3>
  <p class="text-base leading-6">{description}</p>
</li>
